html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #191919;
  margin: 0;
  color: #fff;
}

p {
  margin: 0;
}

.app {
  max-width: 600px;
}

.header {
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  padding: 10px 12px;
  margin: 0;
  gap: 8px;
}

.headline {
  flex-grow: 1;
  text-align: center;

  &__text {
    font-size: 28px;
    font-weight: bold;
    margin: 0;
    display: inline;
    background: linear-gradient(
      45deg,
      red,
      orange,
      yellow,
      green,
      lighten(blue, 20%),
      lighten(indigo, 20%),
      violet
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

svg {
  width: 18px;
  height: 18px;
}

$dark: #dedede;
$dark-txt: #777;

.item {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 12px;
  gap: 10px;
  color: #191919;
  background-color: #fff;
  background-color: greenyellow;
  transition: background-color 250ms ease-in-out;

  &.-overdue .item__action,
  &.-due .item__action {
    border: 1px solid #fff;
  }

  &.-overdue {
    background-color: orangered;
    color: #fff;
  }

  &.-due {
    background-color: orange;
    color: #fff;
  }

  &.-processing,
  &.-confirm {
    background-color: #191919;
    color: #fff;
  }

  .item__control {
    flex: 0 0 40px;
  }

  .item__desc {
    flex-grow: 1;

    &.-confirm {
      vertical-align: middle;
      margin-left: 10px;
    }

    .item__title {
      font-weight: bold;
      font-size: 14px;

      .item__interval {
        font-weight: lighter;
        font-size: 10px;
        margin-left: 5px;
      }
    }

    .item__subtitle {
      margin-top: 3px;
      font-weight: lighter;
      font-style: italic;
      font-size: 14px;
    }
  }
}

.item__action {
  flex: 0 0 30px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
  font-weight: bold;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid transparent;

  &.-overdue {
    background-color: orangered;
  }

  &.-signout,
  &.-delete {
    color: $dark-txt;
    background-color: #fff;
    border: 1px solid $dark;
  }

  &.-yes,
  &.-new {
    background-color: hotpink;
  }

  &.-due {
    background-color: orange;
    border: 1px solid #fff;
  }

  &.-paused {
    background-color: green;
  }

  &.-active {
    background-color: orange;
  }

  &.-no {
    background-color: #fff;
    border: 1px solid #efefef;
    font-weight: normal;
  }
}

.login {
  border: 1px solid #ddd;
}

.login,
.add-new-form {
  max-width: 400px;

  form {
    margin: 0;
  }

  label {
    font-size: 12px;
  }

  input {
    padding: 8px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }

  button {
    padding: 8px;
    background-color: rgb(17, 6, 11);
    font-weight: bold;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 10px;

    &.cancel {
      background-color: #fff;
      color: #000;
      border: 1px solid #efefef;
      font-weight: normal;
    }

    &.submit {
      border: 1px solid #fff;
    }
  }
}

.new-modal {
  z-index: 4;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(50, 50, 50, 0.5);
  text-align: center;
}

.add-new-form {
  text-align: left;
  padding: 20px;
  border-radius: 5px;
  top: 50px;
  width: 80%;
  margin: auto;
  margin-top: 40px;
  background-color: #191919;
  color: #fff;
}
